.snake {
    text-align: center;
    }
    
     #left-button {
      margin-top: 167px;
      margin-right: 47px;
      width: 94px;
      height: 94px;
     }
    
     #right-button {
      margin-top: 167px;
      margin-right: 23px;
      width: 94px;
      height: 94px;
     }
    
     #forwardBtn {
      margin-top: -26px;
      margin-left: -38px;
      width: 94px;
      height: 94px;
     }
    
    .controls {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      max-width: 400px;
      margin: 0 auto;
    }

    .movements {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      max-width: 400px;
      margin: 0 auto;
    }

    #concMov{
      background-color:aquamarine;
      width: 90px;
      height: 40px;
      border-radius: 10px;
    }

    #ondMov{
      background-color: aquamarine;
      width: 90px;
      height: 40px;
      border-radius: 10px;
    }

    #stopBtn.btn.btn-light{
    cursor: pointer;
     background-color: transparent;
     border: 0px;
    }

    #stopBtn.btn.btn-light{
   
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 17px;
    }
    
    .btnstop {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: red;
      margin-left: -40px;
      margin-bottom: 64px;
      margin-top: 9px;
      width: 62px;
      height: 42px;
      border-radius: 3px;
      position: relative;
      left: 50%;
      top: 40%;
      cursor: pointer;
      transition: 0.6s;
    }
    .btnstop:hover {
     background-color:  rgba(217, 51, 51, 0.5);
     transform: scale(1.1, 1.1);
    }
    
    
    .arrow {
      width: 50px;
      height: 50px;
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .arrow:hover {
      background-color: #ccc;
    }

    .btnstop :hover {
        background-color:  rgba(197, 124, 124, 0.5);
    }
    
    .left-arrow:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid black;
    }
    
    .up-arrow:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid black;
    }
    
    .right-arrow:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid black;
    }
    
    .down-arrow:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
    }
    